<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ショッピングメニュー</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
		
<div class="bg_pattern Polka_v2"></div>
	<h1>ようこそ！<span th:text="${@account.name}+' さん！'"></span></h1>
	<header th:replace="header2"></header>
	
	<hr>
	<main>
		<div class="cp_breadcrumb">
	<ul class="breadcrumbs">
	<li><a href="/items">Home</a></li>
	<li><a href="/PurchaseHistory">購入履歴</a></li>
	<li><a href="/cart">カートの中身を見る</a></li>
	<li>Contents</li>
	</ul>
</div>
		<table>
			<tr>
				<th>NO</th>
				<th></th>
				<th>なぜクソなのか</th>
				<th>商品名</th>
				<th>値段</th>
				<th></th>
			</tr>
			<tr th:each="item:${baditems}">
				<td th:text="${item.id}"></td>
				<td><img th:src="${item.photo}"></td>
				<td th:utext="${item.comm}"></td>
				<td th:text="${item.name}"></td>
				<td th:text="${item.price}"></td>
				<td>
					<form action="/cart/add" method="post">
					<input type="hidden" name="itemId" th:value="${item.id}">
					<button href="" class="btn_18">カートに追加しないでください</button>
					</form>
					
				</td>
			</tr>
		</table>
	</main>
	<hr>
	
	<footer th:replace="footer"></footer>

</body>
</html>