<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>カート</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>ようこそ！<span th:text="${@account.name}+' さん！'"></span></h1>
		<header th:replace="header"></header>
	<hr><a href="/items">一つ戻る</a>
	<main>
		<div class="cp_breadcrumb">
	<ul class="breadcrumbs">
	<li><a href="/items">Home</a></li>
	<li><a href="/PurchaseHistory">購入履歴</a></li>
	<li><a href="/cart">カートの中身を見る</a></li>
	<li>Contents</li>
	</ul>
</div>
	<div class="cp_cssslider">
	<div class="cp_slidewrapper">
		<div class="cp_slide_item"><img src="/ダウンロード.jpg"></div>
		<div class="cp_slide_item"><img src="/910InuA1PIL.jpg" style="width: 300px;"></div>
		<div class="cp_slide_item"><img src="/709892.jpg" style="width: 300px;"></div>
		<div class="cp_slide_item"><img src="/images.jpg" style="width: 300px;"></div>
		<div class="cp_slide_item"><img src="/20231124-273294-header2.jpg" style="width: 300px;"></div>
	</div>
</div>


<p th:text="${e}" style="color: red;"></p>


<div class="box">
<a href="/cart/add?itemId=5"><span class="text"style="top: 600px;"><h2>龍が如く</h2></span></a>
</div>


<div class="rightA">
  <img src="/img20200118192938-removebg-preview.png">
</div>

		<span th:replace="cartItem"></span>
		<form action="/cart/clear" method="get">
		<button class="btn_23">カートの中身をすべて削除</button>
		</form>
		<form action="/order" method="get">
			<button class="btn_22">注文する</bottun>
		</form>
	</main>
	<main>
		<form action="/items" methods="get">
			<button class="btn_22">追加</bottun>
		</form>
		
	
					

	</main>
	<hr>
	<footer th:replace="footer"></footer>
</body>
</html>