<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header>
		<h1>篠崎優の今年一年買ってよかったものショップ</h1>
	</header>
	<main>
		<h3>ここは、私が約一年間で買ってよかったもの、感動したものがそろっているショップです。<br>
			万が一気になって買ってみて、「こんなゴミよくも紹介しやがって！」
			となっても責任は負いかねますので悪しからず。<br>
			あくまで主観ですので、それでも良い方はぜひ覗いてみてください
		</h3>
		<h4>＊なお買ってみてとは、サービスの提供を受けることも含まれています。</h4>
		<form action>
			<a href="/account" class="btn_21"method="get">新規登録の方はこちら！</a><br>
		</form>
			
		<form action>
			<a href="/form" class="btn_21" method="get">
			すでに会員登録がお済の方はこちら！</a><br>	
			  <style>
				  
    .right{
      text-align: right;
    }
    .center{
      text-align: center;
    }

  </style>  
			
<div class="left">
  <img src="img_20230805_150150-removebg-preview.png">
</div>
<div class="right">
	<img src="img_20230805_150152-removebg-preview.png">
	</div>

		</form>
	</main>
</body>
</html>