<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Confirmation</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>ようこそ！<span th:text="${@account.name}+' さん！'"></span></h1>
	<header th:replace="header3"></header>
	<hr><a href="/cart">一つ戻る</a>
	<main>
		
		<h3>下記の内容で注文を行いますか？</h3>
		<h3>ご注文商品</h3>
		<span th:replace="cartItem"></span>
		<hr>
		<h3>お客様情報</h3>
		<form action="/ordered" method="get">
			<table border="1">
				<tr>
					<th>お名前</th>
					<td th:text="${@account.name}"></td>
				</tr>
				<tr>
					<th>住所</th>
					<td th:text="${@account.address}"></td>
				</tr>
				<tr>
					<th>電話番号</th>
					<td th:text="${@account.tel}"></td>
				</tr>
				<tr>
					<th>e-mail</th>
					<td th:text="${@account.email}"></td>
				</tr>
			</table>
			<input type="hidden" name="name" th:value="${@account.name}">
			<input type="hidden" name="address" th:value="${@account.address}">
			<input type="hidden" name="tel" th:value="${@account.tel}">
			<input type="hidden" name="email" th:value="${@account.email}">
			<button class="btn_22">この内容で注文</button>
		</form>
	</main>
	<hr>
	<footer th:replace="footer"></footer>

</body>
</html>